{
    "ssh_servers": {
        "production": [
            {"name": "prod1", "hostname": "0.0.0.0"}
        ],
        "test": [
            {"name": "test1", "hostname": "testing-server-1.example.com"}
        ]
    }
}
